@font-face {
  font-family: "Uncial Antiqua", system-ui;
  src: url("fonts/UncialAntiqua-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/5.elements/background/website-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}

.game-title {
  font-family: "Uncial Antiqua", system-ui;
  color: #735c4a;
  letter-spacing: 2px;
  padding-bottom: 16px;
  margin: 0;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: black;
  border: 8px solid #735c4a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

/* letter-spacing, text-shadow einfügen */
