body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
}
/* Hintergrundbild einfügen */
/* Besondere Schriftart nehmen ggfls. Zabras */
/* letter-spacing, text-shadow einfügen */
